@use "mixins";

%page-grid {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);

  column-gap: 20px;

  @include mixins.onTablet {
    --columns: 6;
    column-gap: 24px;
  }

  @include mixins.onDesktop {
    --columns: 12;
  }
}
