h2 {
  font-family: monospace;
}

.container {
  width: 300px;
  height: 100px;
  margin: 10px 0;
  border: 5px solid;
}

.container-hidden {
  overflow: hidden;
}

.container-scroll {
  overflow: scroll;
}

.container-auto {
  overflow: auto;
}

.container-auto-hidden {
  overflow-x: auto;
  overflow-y: hidden;
}

.box {
  margin: 0;
  padding: 10px;
  opacity: 0.8;
}

.w-350 {
  width: 350px;
}

.purple {
  background-color: #bd93f9;
}

.orange {
  background-color: #ffb86c;
}

.green {
  background-color: #1bc444;
}

.pink {
  background: #ff79c6;
}
