.header {
  height: 100vh;
  box-sizing: border-box;

  background-image: url(../../images/header-bg-mobile.png);
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__link {
  line-height: 0;
}

.header__bottom {
  padding: 0 20px 40px;
}

.header__waves {
  width: 48px;
  height: 58px;
  margin-bottom: 16px;
  background-image: url(../../images/sound-waves.svg);
}

.header__title {
  margin: 0;

  font-size: 2rem;
  line-height: 100%;
  font-style: italic;
  font-weight: 800;
  letter-spacing: -1.5px;
}
