:root {
  --text-color: #33a4a;
  --page-color: #f5f6f1;
  --header-color: #f54a3a;
  --header-height: 50px;
  --section-border-color: #ced2ed;
}

html {
  color: var(--text-color);
  scroll-behavior: smooth;
}

body {
  background-color: var(--page-color);
}

.nav {
  height: var(--header-height);

  display: flex;
  justify-content: center;
  gap: 20px;

  position: sticky;
  top: 0;
  z-index: 1;

  background-color: var(--header-color);
}

.nav__link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: var(--header-height);
}

h1 {
  text-align: center;
}

.main {
  padding: 24px;
}

.section {
  height: 500px;
  padding: 16px;
  margin: 24px 0;
  border-radius: 16px;
  border: 2px solid var(--section-border-color);
  background-color: #fff;
}

.title {
  margin: 0 0 16px;

  position: sticky;
  top: calc(var(--header-height) + 10px);
}

.back {
  padding: 16px;
  border-radius: 16px;
  background-color: var(--header-color);
  color: #fff;

  position: fixed;
  bottom: 20px;
  right: 20px;
  text-decoration: none;
}

.footer {
  padding: 50px;
  background: #222;
  color: #fff;
  text-align: center;
}
