header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #222;
}

.logo__img {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 8px;
}

.nav__list {
  display: flex;
  gap: 20px;
}

.nav__link {
  display: block;
  height: 60px;
  line-height: 60px;
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
}

h1 {
  text-align: center;
}

.footer {
  color: #fff;
  background-color: #222;

  text-align: center;
  line-height: 80px;
}
