.box {
  width: 300px;
  height: 200px;
  margin: 50px auto;
  padding: 10px;
  border: 2px solid black;
}

.box-1 {
  box-shadow:
    10px 10px #ff79c6,
    -10px -10px #bd93f9;
}

.box-2 {
  box-shadow:
    10px 10px 10px #ff79c6,
    10px 10px 10px #bd93f9 inset;
}

.box-3 {
  box-shadow:
    10px 10px 10px 5px #ff79c6,
    -10px -10px 10px -5px #bd93f9;
}

h1 {
  color: mistyrose;
  text-shadow: 0 0 2px black;
}
